@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main-rgb: 10, 20, 110;
  --text-white-rgb: 255, 255, 255;
  --text-dark-rgb: 20, 30, 55;
  --text-title-rgb: 10, 20, 110;
  --text-gray-rgb: 55, 80, 110;
  --text-active-rgb: 0, 111, 232;
}

body {
  color: rgb(var(--text-dark-rgb));
}

.header-bg-vector {
  background-image: url(../images/headerBG.svg);
  height: 346px;
}

.main-bg-blue {
  background-color: rgb(var(--background-main-rgb));
}

.t-white {
  color: rgb(var(--text-white-rgb));
}

.t-dark {
  color: rgb(var(--text-dark-rgb));
}

.t-title {
  color: rgb(var(--text-title-rgb));
}

.t-gray {
  color: rgb(var(--text-gray-rgb));
}

.t-active {
  color: rgb(var(--text-active-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}