@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main-rgb: 10, 20, 110;
  --text-white-rgb: 255, 255, 255;
  --text-dark-rgb: 20, 30, 55;
  --text-title-rgb: 10, 20, 110;
  --text-gray-rgb: 55, 80, 110;
  --text-active-rgb: 0, 111, 232;
}

body {
  color: rgb(var(--text-dark-rgb));
}

.header-bg-vector {
  background-image: url(../images/headerBG.svg);
  height: 346px;
}

.main-bg-blue {
  background-color: rgb(var(--background-main-rgb));
}

.inputCustom {
  width: 320px;
  height: 56px;
  shadow: 0px 2px 2px black;
  outline: 1px;
  outline-color: #0071EB;
  border: 1px solid black;
  border-radius: 8px;
  padding: 12px; 
}

.inputCustom:focus {
  /* border: 1px solid #0071EB; */
  outline-color: #0071EB;
  outline: 2px;
}

.btn-blue {
  text-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: white;
  height: 48px;
  padding: 0 24px;
  border-radius: 8px;
  background-color: rgb(0, 113, 235);
  transition: background 0.3s ease;
  cursor: pointer;
}

.h-432 {
  height: 432px;
}

.btn-blue:hover {
  background: rgb(38, 151, 255);
}

.btn-disabled {
  background-color: rgb(181, 215, 253);
  cursor: default;
}

.btn-disabled:hover {
  background-color: rgb(181, 215, 253);
  cursor: default;
}

.t-white {
  color: rgb(var(--text-white-rgb));
}

.t-dark {
  color: rgb(var(--text-dark-rgb));
}

.t-title {
  color: rgb(var(--text-title-rgb));
}

.t-gray {
  color: rgb(var(--text-gray-rgb));
}

.t-active {
  color: rgb(var(--text-active-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}